<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EPShare Rides</title>
    <link href="./bulma.min.css" rel="stylesheet" type="text/css" />
    <link href="./style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/16ae8e710d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./style.css">
    <script src="./script.js"></script>
  </head>
  <body>
    <main>
     
      <section class="hero is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <header class="navbar">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item">
                  <img src="EPS Logo - Transparent-4.png" alt="Logo">
                  <h1 class="title is-3" style="margin-left: 10px" >EPShare Rides
                  </h1>
                </a>
                <span class="navbar-burger" data-target="navbarMenuHeroC">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                 
                  <div class="is-button is-link">
                  
                    <div class="navbar-item">
                      <span style="font-size: 1em; color: #30B700; float: right">
                        <i class="fa-solid fa-leaf"></i>
                      </span>
                      <div class="buttons" style="margin: 10px;margin-right: 0px;">
                        
                        <a class="button is-link is-outlined " href="/logout">
                         Log out
                        </a>

                      
                        <a class="button is-link">
                           <%= firstName %> <%= lastName %>
                        </a>
                       
                      </div>
                    </div>
                    
                    </div>
                </div>
              </div>
            </div>
          </header>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered">
            <!-- <p class="title">
              Title
            </p>
            <p class="subtitle">
              Subtitle
            </p> -->
            
            <table class="table " style="margin-left: auto; margin-right: auto; margin-top: -60px; margin-bottom: 30px;">
              <thead>
                <tr>
                  <th><abbr title="Friend">Friend</abbr></th>
                  <th>Email</th>
                  
                </tr>
              </thead>
              
              <tbody>
                <% people.forEach((p) => { %>
                  <tr>
                    <th><%= p.firstName %> <%= p.lastName %></th>
                    <td><a><%= p.email %></a></td>
                  </tr>
                <% }) %>
                
              </tbody>
            </table>

            
          </div>
        </div>
       
        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li ><a href="/">My Carpools</a></li>
                <li ><a href="/upcomingevents">Upcoming Events</a></li>
                <li  class="is-active"><a href="/friends">Friends</a></li>
               
              </ul>
            </div>
          </nav>
        </div>
        
      </section>
      
    </main>
  <script src="index.js"></script>
  </body>
</html>